# Compilación
/build/
/dist/

# Configuración privada de NetBeans
/nbproject/private/

# Configuración local de cada integrante
config/database.properties

# Archivo compilados Java
*.class

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db